
.weekdayRow { margin-bottom: 0px;}
.weekday {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0px;
    min-width: 50px;
}
.day {
    margin: 0.5em;
    min-width: 50px;
    min-height: 50px;
}

.week{
    margin-bottom: 0px;
}

.month-description{
    margin-left: 1em;
    margin-right: 1em;
}
